<nav class="navbar navbar-dark bg-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#" (click)="verSeccion()"><img src="../assets/img/logo2.png" alt="" class="img"></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="buscar" aria-label="Search">
    <!--cambios al iniciar sesion dada la autenticacion-->
    <ng-container *ngIf="!loggI(); else logg">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" (click)="verOtra2()"><h5>Iniciar sesion</h5></a>
        </li>
        
      </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" (click)="verOtra()"><h5>Registrarse</h5> </a>
        </li>
        
      </ul>
    </ng-container>
    <ng-template #logg>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" (click)="verO()" href="#"><h5>Editor</h5></a>
        </li>
        
      </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" (click)="logout()" (click)="verSeccion()"><h5>cerrar sesion</h5> </a>
        </li>
        
      </ul>
    </ng-template>
    <!--fin de cambios-->
  </nav>
 
