
<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-primary">
              <span>Explorar</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h5>
            <li class="nav-item"><div class="nav-link" (click)="verSeccion()"> Pantalla principal</div></li>
            <li class="nav-item"><div class="nav-link" >Ejemplos</div></li>
            <li class="nav-item"><div class="nav-link" > Aacerca de: </div></li>
         
       </ul>
  
  
          <ul class="nav flex-column">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Explorar</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <li class="nav-item"><div class="nav-link" > </div></li>
            <li class="nav-item"><div class="nav-link" > </div></li>
            <li class="nav-item"><div class="nav-link" >  </div></li>
          </ul>
        </div>
      </nav>
  
  
    </div>
  </div>