<style>
  body{
      background-color: rgba(7, 7, 7, 0.842);
      margin: 0;
      height: 100vh;
      padding-top: 30px;
  }
</style>
<body>
  <button class="form-control btn btn-primary" style="width: 80px; margin-right: 5px;">Guardar</button>
  <button class="form-control btn btn-primary" style="width: 80px;">Abrir</button>
<div id='container'  onload="ready()">
        <div id="editor">
        </div>
        <div id="editor2">
        </div>
        <div id="editor3">
        </div>
      
        
      </div>
      <iframe id='iframe' frameBorder="0">
      </iframe>
    </body>
